<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>@ViewData["Title"] - RT.011/RW.007</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
    <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="~/index3.html" class="navbar-brand">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">RT.011/RW.007</span>
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" 
      data-target="#navbarCollapse" aria-controls="navbarCollapse" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false" 
            class="nav-link dropdown-toggle">Warga</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="@Url.Action("FetchKepalaKeluarga", "KepalaKeluarga")" class="dropdown-item" >Kepala Keluarga</a></li>
              <li><a href="@Url.Action("FetchAnggotaKeluarga", "AnggotaKeluarga")" class="dropdown-item">Anggota Keluarga</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Brad Diesel
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">Call me whenever you can...</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="~/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    John Pierce
                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">I got your message bro</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="~/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    Nora Silvester
                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm">The subject goes here</p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
              class="fas fa-th-large"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->
    <div class="content-wrapper">
        @RenderBody()
    </div>
<!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/js/adminlte.min.js"></script>
<!-- DataTables -->
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- jquery-validation -->
<script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
<!--input mask-->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
@RenderSection("Scripts", required: false)

<script>
    $(function() {
        $('#datemask').inputmask('dd-mm-yyyy', {'placeholder' : 'dd-mm-yyyy'})
        $('[data-mask').inputmask()
    })
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#AgtKeluargaForm').validate({
      rules: {
        NamaLengkap: {
          required: true
        },
        NIK: {
          required: true
        },
        TempatLahir: {
          required: true
        },
        TanggalLahir: {
          required: true
        },
        Ayah: {
          required: true
        },
        Ibu: {
          required: true
        },
        JenisKelamin: {
          required: true
        },
        Agama: {
          required: true
        },
        Pendidikan: {
          required: true
        },
        JenisPekerjaan: {
          required: true
        },
        StatusPerkawinan: {
          required: true
        },
        HubunganDalamKeluarga: {
          required: true
        },
        NoKk: {
          required: true
        },
        NamaKk: {
          required: true
        },
        Alamat: {
          required: true
        },
        RtRw: {
          required: true
        },
        DesaKelurahan: {
          required: true
        },
        KabupatenKota: {
          required: true
        },
        KodePos: {
          required: true
        },
        Provinsi: {
          required: true
        },
        Kecamatan: {
          required: true
        },
        BlokNoId: {
          required: true
        },
        StatusHuniId: {
          required: true
        },
        TenorKPR: {
          required: true
        }
      },
      messages: {
        NamaLengkap: {
          required: "Nama lengkap tidak boleh kosong"
        },
        NIK: {
          required: "NIK tidak boleh kosong"
        },
        TempatLahir: {
          required: "Tempat lahir tidak boleh kosong"
        },
        TanggalLahir: {
          required: "Tanggal lahir tidak boleh kosong"
        },
        Ayah: {
          required: "Ayah kandung tidak boleh kosong"
        },
        Ibu: {
          required: "Ibu kandung tidak boleh kosong"
        },
        JenisKelamin: {
          required: "Kamu belum pilih Jenis Kelamin"
        },
        Agama: {
          required: "Kamu belum pilih Agama"
        },
        Pendidikan: {
          required: "Kamu belum pilih Pendidikan"
        },
        JenisPekerjaan: {
          required: "Kamu belum pilih Jenis Pekerjaan"
        },
        StatusPerkawinan: {
          required: "Kamu belum pilih Status Perkawinan"
        },
        HubunganDalamKeluarga: {
          required: "Kamu belum pilih Hubungan Dalam Keluarga"
        },
        NoKk: {
          required: "No. Kartu Keluarga tidak boleh kosong"
        },
        NamaKk: {
          required: "Nama Kepala Keluarga tidak boleh kosong"
        },
        Alamat: {
          required: "Alamat tidak boleh kosong"
        },
        RtRw: {
          required: "RT / RW tidak boleh kosong"
        },
        DesaKelurahan: {
          required: "Desa / Kelurahan tidak boleh kosong"
        },
        KabupatenKota: {
          required: "Kabupaten / Kota tidak boleh kosong"
        },
        KodePos: {
          required: "Kode Pos tidak boleh kosong"
        },
        Provinsi: {
          required: "Provinsi tidak boleh kosong"
        },
        Kecamatan: {
          required: "Kecamatan tidak boleh kosong"
        },
        BlokNoId: {
          required: "Kamu belum pilih no rumah"
        },
        StatusHuniId: {
          required: "Kamu belum pilih status huni"
        },
        TenorKPR: {
          required: "Tenor KPR tidak boleh kosong"
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
      }
    });
  });
</script> 

</body>
</html>
