@model IEnumerable<RTMilenial.Models.KepalaKeluarga>
@{
    ViewData["Title"] = "Kepala Keluarga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

<!-- Content Header (Page header) -->
<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
    <div class="col-sm-6">
    <h1>Data Kepala Keluarga</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">Beranda</a></li>
        <li class="breadcrumb-item active">Kepala Keluarga</li>
    </ol>
    </div>
</div>
</div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <button type="button" onclick="location.href='@Url.Action("CreateKepalaKeluarga", "KepalaKeluarga")'" 
            class="btn btn-success btn-sm">Tambah Kepala Keluarga</button>
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <div class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="card-body">
            <table id="example2" class="table table-responsive table-hover"
            style="font-size: small;">
            <thead>
            <tr>
                <th>No. KK</th>
                <th>NIK</th>
                <th>Nama KK</th>
                <th>Alamat</th>
                <th>RT/RW</th>
                <th>Desa/Kelurahan</th>
                <th>Kecamatan</th>
                <th>Kabupaten/Kota</th>
                <th>KodePos</th>
                <th>Provinsi</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NoKk)</td>
                        <td>@Html.DisplayFor(modelItem => item.NIK)</td>
                        <td>@Html.DisplayFor(modelItem => item.NamaKk)</td>
                        <td>@Html.DisplayFor(modelItem => item.Alamat)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rtrw)</td>
                        <td>@Html.DisplayFor(modelItem => item.DesaKelurahan)</td>
                        <td>@Html.DisplayFor(modelItem => item.Kecamatan)</td>
                        <td>@Html.DisplayFor(modelItem => item.KabupatenKota)</td>
                        <td>@Html.DisplayFor(modelItem => item.KodePos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Provinsi)</td>
                        <td>
                            <div class="mailbox-controls">
                                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                                <button type="button" 
                                onclick="location.href='@Url.Action("CreateAnggotaKeluarga", "AnggotaKeluarga", new {NoKK = @item.NoKk, NamaKK = @item.NamaKk})'"
                                class="btn btn-default btn-sm"><i class="fas fa-user-plus"></i></button>            
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script>
    $(function () {
        $('#example1').DataTable();
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {
            
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "KepalaKeluarga")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/KepalaKeluarga";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        } 
    }
</script>